<% layout("./layouts/boilerplate") %>

<body class="col-8 mx-auto p-2">
  <h1 class="h2">&nbsp;<u><%= roomInfo.RoomName %></u></h1>
    <div class="MainImage mt-6">
        <img class="w-100" src=" <%= roomInfo.MainImage %> " alt="MainImage" style="height: 30rem; border-radius: 1rem;">
    </div>

    <div>
   <br><br><br>
    <h3 class="h4">&nbsp;&nbsp; <%= roomInfo.desc %> </h3>

    <div class="EditandDelete d-flex">
    <a href="/Rooms/<%= roomInfo._id %>/Edit ">
        <button class="btn btn-dark mx-3 my-4" type="submit" >Edit Your Blog Details</button>
    </a>
    
    <form method="POST" action="/Rooms/<%= roomInfo._id %>?_method=DELETE">
        <button class="btn btn-danger mx-3 my-4">Delete</button>
    </form>
    </div>
    </div>


    

    </form>




    
</body>
